<!DOCTYPE html>
<html>
<head data-th-replace="~{header :: head}"></head>
<body>

<header data-th-replace="~{header :: #page-header}"></header>

<h1>회원 목록</h1>
<p><a data-th-href="@{/user/form}">새 회원</a></p>
<table>
  <thead>
  <tr>
    <th>번호</th>
    <th>이메일</th>
    <th>닉네임</th>
    <th>전화번호</th>
    <th>권한</th>
    <th>블록 여부</th>
    <th>SNS 구분</th>
  </tr>
  </thead>
  <tbody>

  <tr data-th-each="user : ${list}">
    <td data-th-text="${user.userNo}"></td>
    <td>
      <a data-th-href="@{/user/{userNo}(userNo=${user.userNo})}" data-th-text="${user.userEmail}"></a>
    </td>
    <td data-th-text="${user.userNickname}"></td>
    <td data-th-text="${user.userTel}"></td>
    <td data-th-text="${user.userRole}"></td>
    <td data-th-text="${user.userBlock == 0 ? '미차단' : '차단'}"></td>
    <td data-th-text="${user.snsName}"></td>
  </tr>

  </tbody>
</table>

</body>
</html>
