<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>모두의 여행</title>
</head>
<body>
<header>
</header>
<h1>일정 편집</h1>
<form action="/schedule/checkSchedule" method="post">
    <ul>
        <li data-th-each="schedule, status : ${scheduleList}">
            <span data-th-text="${schedule.location.locationName}">여행지1</span>
            <input data-th-name="|scheduleList[${status.index}].location.locationNo|"
                   data-th-value="${schedule.location.locationNo}"
                   type="hidden"/>
            <input data-th-name="|scheduleList[${status.index}].scheduleDay|"
                   min="1"
                   placeholder="Enter day"
                   required
                   type="number"/>
            <input data-th-name="|scheduleList[${status.index}].scheduleRoute|"
                   min="1"
                   placeholder="Enter route" required type="number"/>
        </li>
    </ul>
    <button type="submit">다음</button>
</form>
</body>
</html>
