/* 전역 폰트 설정 */
body,
button,
input,
a,
span,
p,
div {
    font-family: 'Noto Sans KR', sans-serif !important;
}

/* 헤더 버튼 스타일 */
header .custom-btn {
    background-color: transparent;
    color: black;
    border: none;
    transition: color 0.3s ease;
    font-family: 'Noto Sans KR', sans-serif !important;
}

header .custom-btn:hover {
    color: #8ee2ff;
    background-color: transparent;
}

header .login-btn {
    background-color: transparent;
    color: black;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Noto Sans KR', sans-serif !important;
}

header .login-btn:hover {
    background-color: black;
    color: white;
    border: none;
}

