.card-list-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
    gap: 20px; /* 카드들 사이의 간격 */
    max-width: 1700px; /* 카드 목록의 최대 너비 */
}

.card-bestList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열 */
    gap: 20px; /* 카드들 사이의 간격 */
    max-width: 1700px; /* 카드 목록의 최대 너비 */
}

.timeline-item .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* 한 줄로 표시 */
    display: block; /* block으로 설정해야 적용 */
    max-width: 200px; /* 원하는 최대 너비 설정 */
}

