.fram-topbanner,
.fram-topbanner * {
    box-sizing: border-box;
}
.fram-topbanner {
    background: #ffffff;
    height: 131px;
    position: relative;
    overflow: hidden;
}
.button-02-s {
    background: var(--black-and-white-black, #000000);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 63px;
    position: absolute;
    left: 1537px;
    top: 868px;
}
.div {
    color: var(--black-and-white-white, #ffffff);
    text-align: center;
    font-family: var(--h5-font-family, "NanumGothic-Bold", sans-serif);
    font-size: var(--h5-font-size, 12px);
    font-weight: var(--h5-font-weight, 700);
    position: relative;
    display: flex;
    right: 0;
    align-items: center;
    justify-content: center;
}
.button-02-s2 {
    background: var(--black-and-white-black, #000000);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 63px;
    position: absolute;
    left: 1377px;
    top: 1068px;
}
.button-03-s {
    background: var(--black-and-white-white, #ffffff);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - -117px);
    top: calc(50% - 2.5px);
}
.div2 {
    color: #000000;
    text-align: center;
    font-family: var(--h5-font-family, "NanumGothic-Bold", sans-serif);
    font-size: var(--h5-font-size, 12px);
    font-weight: var(--h5-font-weight, 700);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-03-s2 {
    background: var(--black-and-white-white, #ffffff);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - -223px);
    top: calc(50% - 2.5px);
}
.button-03-s3 {
    background: var(--black-and-white-white, #ffffff);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - -329px);
    top: calc(50% - 2.5px);
}
.button-03-s4 {
    background: var(--black-and-white-white, #ffffff);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - -430px);
    top: calc(50% - 2.5px);
}
.button-03-s5 {
    background: var(--black-and-white-white, #ffffff);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - -539px);
    top: calc(50% - 2.5px);
}
.button-03-s6 {
    background: var(--black-and-white-white, #ffffff);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - -11px);
    top: calc(50% - 2.5px);
}
.button-02-s3 {
    background: var(--black-and-white-black, #000000);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 80px;
    position: absolute;
    /*left: 1405px;*/
    right: 0;
    top: 63px;
}
.frame-427318169 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 127px;
    top: 43px;
}
.div3 {
    color: #000000;
    text-align: center;
    font-family: var(--h1-font-family, "NanumGothic-ExtraBold", sans-serif);
    font-size: var(--h1-font-size, 32px);
    font-weight: var(--h1-font-weight, 800);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
