<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>소셜 로그인 처리</title>
</head>
<body>
<script th:inline="javascript">
  window.onload = function() {
      const email = [[${email}]];
      if (window.opener && window.opener.showPhoneVerificationModal) {
          window.opener.showPhoneVerificationModal(email);
          window.close();
      } else {
          window.location.href = '/auth/verify/phone?email=' + email;
      }
  };
</script>
</body>
</html>
